<h1>BookmarkList</h1>
<p id="notice"><%= notice %><%= @dbgstr %></p>
<%= render 'addform' %>
<div>
filter:
<%= link_to 'OK', "/bookmarks/search/ok" %>
<%= link_to 'maybe NG', "/bookmarks/search/ng" %>
</div>
<br>
<div>
<%= form_for :index, :url=>{:action=>'checklink'} do |fo| %>
    <%= fo.submit 'checklink', data: { confirm: 'Are you sure? ' + @bookmarks.size.to_s + 'record' } %>
<% end %>
</div>

<%= form_for :index, :url=>{:action=>'deleterecord'} do |fo| %>
  <table>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Uri</th>
      <th>Httpcode</th>
      <th></th>
    </tr>
    <% @bookmarks.each do |bookmark| %>
      <tr id="list" class="<%= bookmark.httpcode %>">
        <td><%= check_box(bookmark.id, "delete") %></td>
        <td><%= bookmark.title %></td>
        <td><%= link_to bookmark.uri, bookmark.uri %></td>
        <td><%= bookmark.httpcode %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
      </tr>
    <% end %>
  </table>
  <%= fo.submit 'deleterecord', data: { confirm: 'Are you sure? ' } %>
<% end %>

