<p id="notice"><%= notice %></p>

<p>
  <b>Aaa:</b>
  <%= @tsting.aaa %>
</p>

<p>
  <b>Bbb:</b>
  <%= @tsting.bbb %>
</p>

<p>
  <b>Ccc:</b>
  <%= @tsting.ccc %>
</p>


<%= link_to 'Edit', edit_tsting_path(@tsting) %> |
<%= link_to 'Back', tstings_path %>
