<%= form_for(@tmp) do |f| %>
  <% if @tmp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tmp.errors.count, "error") %> prohibited this tmp from being saved:</h2>

      <ul>
      <% @tmp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test %><br />
    <%= f.text_field :test %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
