<!DOCTYPE html>
<html>
<head>
  <title>Railstest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
//$(document).on('page:fetch', function(e) { alert("fetch") });
//$(document).on('page:change', function(e) { alert("change") });
//$(document).on('page:restore', function(e) { alert("restore") });
//$(document).on('page:load', function(e) { alert("load") });


</script>
</head>
<body>

<%= yield %>
aa<%= yield(:aaa)%>aa
<br><br><br>
konten
puobai(reiou)
<br>
<%= provide(:purobai) %><br>
<%= provide(:purobai).class %><br>
<%= yield(:purobai) %><br>
<%= yield(:purobai).class %><br>
<br>
<%= content_for(:konten) %><br>
<%= content_for(:konten).class %><br>
<%= yield(:konten) %><br>
<%= yield(:konten).class %><br>





</body>
</html>
