<h1>Listing tmps</h1>
<script type="text/javascript">
$.each([1,2,3], function() {
  document.write(this + 1);
});

</script>

<table>
  <tr>
    <th>Test</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tmps.each do |tmp| %>
  <tr>
    <td><%= tmp.test %></td>
    <td><%= link_to 'Show', tmp %></td>
    <td><%= link_to 'Edit', edit_tmp_path(tmp) %></td>
    <td><%= link_to 'Destroy', tmp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tmp', new_tmp_path %>
