<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    name<br />
    <%= f.text_field :name, :size=>100 %>
  </div>
  <div class="field">
    <%= f.label :uri %> ( http[s]://... )<br />
    <%= f.text_field :uri, :size=>100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
