<% provide(:aaa, "anokutarasannmyaku") %>

dfdf<br>
dfdfdf:<a href="/">test</a><br>
asdfd<br>
<%= @res %><br>
asdfdsf
<form name="forrrm" method="post" action="/">
  <input type="hidden" name="aa" value="bb">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <a href="javascript:forrrm.submit()">rinnn</a>
</form>

<%= mail_to("a@a.a", "mojiretu", :body=> 'あ
い\nう' )  %>
<br><br>
<a href="/en">turbo</a>
<br>
konnten
purobai(inde)<br>
<br>

<% provide(:purobai, "p1") %>
<% provide(:purobai, "p2") %>
<% content_for(:konten, "k1")%>
<% content_for(:konten, "k2")%>

<% provide(:plo, "kieru"){"ploplo"} %>
<% provide(:plo, "kieru"){"ploplo"} %>
<% content_for(:blo, {:flush=>"naninani"}) {"bloblo"}%>
<% content_for(:blo, {:flush=>"naninani"}) {"bloblo"}%>
<% content_for(:blo2, {:sh=>"naninani"}) {"bloblo"}%>
<% content_for(:blo2, {:sh=>"naninani"}) {"bloblo"}%>

<br>
naka<br>
<%= provide(:purobai) %><br>
<%= provide(:purobai).class %><br>
<%= yield(:purobai) %><br>
<%= yield(:purobai).class %><br>
<br>
<%= content_for(:konten) %><br>
<%= content_for(:konten).class %><br>
<%= yield(:konten) %><br>
<%= yield(:konten).class %><br>

<%= content_for(:plo) %><br>
<%= content_for(:blo) %><br>
<%= content_for(:blo2) %><br>

<br>
naka<br>


